<div class="page-area">
    <h2>Home</h2>
    <div #box style="border: 2px solid red; width:400px" class="card">
        <h3>Username is <span class="text-success">{{userName}}</span></h3>
    </div>
    <div class="card" style="width:300px;height:350px;margin: 20px;padding:10px;">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-danger" (click)="changeChildProperty()">ChangeChildProperty</button><br><br>
            <button class="btn btn-success" (click)="callChildMethod()">CallChildMethod</button><br><br>
        </div>
        <div class="col-md-6">
            <app-comp2component></app-comp2component>
        </div>
       
    </div>
</div>
</div>